<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <settings>
    <worldFrom></worldFrom>
    <worldTo></worldTo>
    <compression></compression>
    
    <ftpUser></ftpUser>
    <ftpPass></ftpPass>
    <ftpServer></ftpServer>
    <ftpFolder></ftpFolder>
    <ftpFolder2></ftpFolder2>
  </settings>
</configuration>